

/*header style*/
header 
{
    background-color: #F1F5FE;
    padding: 10px;
    display: flex;
align-items: center;
padding: 16px 120px;
gap: 153px;
position: static;
height: 86.08px;
left: 0px;
top: 0px;
}

.navlinks
{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 97px;
width: 439px;
height: 44px;
flex: none;
order: 1;
flex-grow: 0;
height: 24px;
font-family: 'Halant';
font-style: normal;
font-weight: 500;
font-size: 24px;
color:black;
margin-left: 15%;
}


.navjustprojects
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 680px;
    height: 54.08px; 
}

a
{
    text-decoration: none;
    color:black;
}

.hireme
{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 16px;
gap: 10px;
width: 94px;
height: 44px;
border: 1px solid #155EEF;
background-color: #F1F5FE;
border-radius: 8px;
flex: none;
order: 2;
flex-grow: 0;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 17px;
color:#155EEF;

}




/*content style*/

.content
{

    display: flex;
  background-color: black;
  margin-top: -15px;

} 



.photo1
{
   
    
    width: 443px;
    height: 479px;
    left: 949px;
    top: 56px;
    margin-left: 12%;
    position:sticky;
}




.links1
 {
    list-style: none;
   color:#B8B8B8;
height: 30px;
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 25px;
 }

 .im
 {
    margin-left: 10%;
 }

 .Anthony
 {
    flex: none;
order: 0;
flex-grow: 1;
    width: 840px;
    list-style: none;
   color:#FFFFFF;
height: 30px;
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 120%;
margin-bottom: 3%;
margin-left: 9%;
 }

.about
{
    color:#A3A3A3;
    width: 900px;
height: 144px;
line-height: 150%;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 32px;
flex: none;
order: 0;
flex-grow: 1;
/* or 48px */
letter-spacing: 0.5px;
margin-left: 9%;
}

.seeprojects
{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 16px;
gap: 10px;
width: 168px;
height: 44px;
background: #155EEF;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;
font-family: 'Manrope';
font-style: normal;
font-weight: 450;
font-size: 18px;
letter-spacing: 0.5px;
color: #FFFFFF;
margin-left: 9%;
}

/*2ND CONTENT CSS*/

.content2
{

    display:flex;
margin-top: 1.5%;
background: #F5F8FE;
position:sticky;
height: 420px;
} 


.bio
{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 575px;
height: 258px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.photo2
{
    margin-top: 10px;
    position: inherit;
    margin-left: 4.5%;
    
}


.aboutme
{
    width: 157px;
height: 45px;
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 50px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin-left:25%;

}

.aboutme2

{
width: 575px;
height: 120px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
text-align: justify;
letter-spacing: 0.5px;
color: #000000;
flex: none;
order: 0;
flex-grow: 1;
margin-left:25%;
margin-top: -15px;

}

.buttons
{
   margin-top: 3%;
    margin-left:25%;
    
}

.hireme2
{
    box-sizing: border-box;
width: 160px;
height: 44px;
background: #155EEF;
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
left: 49px;
top: 10px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
margin-right:15px;
border-color:#155EEF ;
}

.seemyresume
{
    box-sizing: border-box;
    width: 160px;
    height: 44px;
    background: white;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    left: 49px;
    top: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #155EEF;
    border-color:#155EEF ;
}



/*footer style*/
footer 
{
    
 
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    height: 35px;
    left: 0px;
    background: #080808;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
    display: flex;
   
}

.footerlogo
{
    margin-left: -2%;
}


.socialsites
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 400px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin-left:12%;
    
}


.anthonyfooter
{
 
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.5px;
color: #FFFFFF;
}


    
 