*
{
    padding: 0;
    margin: 0;
}

/*header style*/
header 
{
    background-color: #F1F5FE;
    display: flex;
padding: 16px 120px;
height: 15%;
align-items: center;
justify-content: space-around;
gap:20%;
}


.navlinks
{
display: flex;
flex-direction: row;
align-items: center;
gap: 20%;
font-family: 'Halant';
font-style: normal;
font-weight: 500;
font-size: 24px;
color:black;
width: 100%;
padding-right: 5%;
}


.vector
{
    display: none;
    justify-content: end;
}


.navjustprojects
{
    display: flex;
    width: 100%;
 }


a
{
    text-decoration: none;
    color:black;

}

.home
{
    padding-left: 10%;
}

.hireme
{

    box-sizing: border-box;
padding: 8px 12px;
border: 1px solid #155EEF;
background-color: #F1F5FE;
border-radius: 8px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 17px;
color:#155EEF;
width:94px;
}




/*content style*/


.content
{

    display: flex;
  background-color: #000000;
  height: 100%;
  justify-content: space-around;
} 

.photo1
{
    display: flex;
   padding-right: 3%; 
    padding-top: 42px;

}

.links1
 {
    list-style: none;
   color:#B8B8B8;
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 25px;
height: 45%;
width: 45%;
padding-top: 55px;

 }

 .im
 {
    padding-top: 3%;
padding-left: 5%;
 }

 .Anthony
 {
    list-style: none;
   color:#FFFFFF;
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 50px;
padding-left: 4%;
line-height: 120%;
 }

.about
{
    color:#A3A3A3;
line-height: 150%;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 30px;
letter-spacing: 0.5px;
padding-left: 4%;
width:80%;

}

.seeprojects
{

display :inline-block;
padding: 10px 16px;
background: #155EEF;
border-color: #155EEF;
border-radius: 8px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
letter-spacing: 0.5px;
color: #FFFFFF;
margin-top: 15px;
margin-left: 4%;
}

/*2ND CONTENT CSS*/

.content2
{

    display:flex;
background: #F5F8FE;
height: 60%;
justify-content: space-between;

} 


.bio
{
    display: flex;
flex-direction: column;
width: 45%;
height: 45%;
}

.photo2
{
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 5%;
}


.aboutme
{
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 32px;
color: #000000;
display: inline-block;
width: fit-content;
padding-top: 8%;


}

.aboutme2

{
    display: inline-block;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 148%;
text-align: justify;
letter-spacing: 0.5px;
color: #000000;
width:65%;
height:40%;
padding-top: 5%;
}

.buttons
{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    }

.hireme2
{
box-sizing: border-box;
background: #155EEF;
border-radius: 8px;
display :inline-block;
letter-spacing: 0.5px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.5px;
color: #FFFFFF;
border-color:#155EEF ;
margin-right: 15px;
width: 160px;
height: 44px;
}

.seemyresume
{
    background: white;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #155EEF;
    border-color:#155EEF ;
    width: 150px;
}

/*3rd content CSS*/

.content3
{
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
      height: 739px;
      position: relative;
}

.recommendations
{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 64px 40px;
gap: 24px;
position: absolute;
width: 35%;
height: 50%;
left: 658px;
top: 206px;
z-index:2;
background-color: white;
}



.recommendcontainer
{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.recommend
{
    display: flex;
    width: 80%;
    height: 80%;
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 150%;
text-align: justify;
letter-spacing: 0.5px;
color: #141414;
}

.description
{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 150%;
text-align: justify;
letter-spacing: 0.5px;
color: #141414;
}

.devname
{
    font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
text-align: justify;
letter-spacing: 0.5px;
color: #525252;
}

.devnamedesc

{
   font-family: 'Halant';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: justify;
letter-spacing: 0.5px;
color: #525252;
}

.photo3
{

    display: block;
    text-align: center;
    margin-left: 5%;
    z-index: 1;
  
 

}

 .photo3 .joygirl3
{
    padding-top: 64px;

}


/*footer style*/
footer 
{
    
 
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    background: #181616;
    display: flex;
   
}


.socialsites
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    gap: 25px;
    
}


.anthonyfooter
{
 
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 150%;
letter-spacing: 0.5px;
color: #FFFFFF;
}

@media screen and (max-width:1142px)
{

    .content2
    {
        height: 100%;
    }



.photo3 .joygirl3
{
    width:80%;
    height:70%;
}

.recommendations

{
    display: flex;
    width: 35%;
    height: 55%;
    left: 55%;
    background-color: #FFFFFF;

}

.recommend
{
    font-size: 25px;
}

.recommendcontainer
{
    width: auto;
}

.description
{
    font-size: 25px;
}



}



@media screen and (max-width:1085px)
{

.aboutme2
{
 padding-top: 0;
 width: 75%;
 height: 21%;
 font-size: 20px;
}

.buttons
{
    display: flex;
width: 80%;
justify-content: center;
margin-bottom: 2%;
}

.hireme2
{
    width: 45%;
}

.seemyresume
{
    width: 45%;
    font-size: 18px;
    padding: 0;
}




.socialsites
    {
        padding: 16px 16px;
    }

.photo2
{
    width: 75%;
}

    .socialsites1
    {
        display: flex;
    margin-left: auto;
    margin-right: auto;
    }

   footer .anthonyfooter
   {
    width: 100%;
    font-size: 18px;
    display: inline-block;
   }


   .photo3 .joygirl3
{
    width:80%;
    height:65%;
}


.recommendations

{
    display: flex;
    width: 40%;
    height: 55%;
    left: 50%;
    background-color: whitesmoke;

}


.recommendcontainer
{
    width: auto;
}

.description
{
    font-size: 25px;
}



}





@media screen and (max-width:885px)

{

 header
 {
    padding: 0;
    display: flex;
   width: 100%;
   margin-left: 5%;
 }

 

.Header
{
    display: flex;
    height: 5%;
    background-color: #F1F5FE;
    justify-content: space-around;
}


.Header a, .hireme, .photo2
{
display: none;
}


.vector
{
    display: block;
    padding-left: 5%;
}

.navlinks
{
justify-content: end;
}

   .content
    {
        flex-direction: column-reverse;
        align-items: center;
        display: flex;
        background-color: black;
       }
   
       .links1
       {
        text-align: center;
        padding-top: 0;
        width: 90%;
       }

       .photo1
    {
    width: 85%;
    height: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    object-fit:contain;
    }

   
       .Anthony
       {
        font-size: 24.5px;
       }

       .about
       {
        width: 85%;
        font-size: 24px;
       }

       .seeprojects
       {
        width: 95%;
       }


       .content2 img
       {
           display: none;
       }
   
   
   
       
       .content2
       {
           align-items: center;
           display: flex;
           flex-direction: column;
           background-color: whitesmoke;

       }

       .bio
       {
        padding-top:0 ;
        width: 100%;
        display: flex;
        align-items: center;

       }

       .aboutme
       {
        margin-top: -5%;
        font-size: 22px;;
       }

       .aboutme2
       {
        padding-top: 0;
        width: 85%;
        height: 22%;
        font-size: 23px;
       }

       .hireme2
        {
        width: 15%;
        }

       .seemyresume
       {
        width: 30%;
       }


         footer
       {
        flex-wrap: wrap;
        height: fit-content;
        display: flex;
       }


       .content3
       {
        display: flex;
        justify-content: center;
        background-color: black;
        height:40%;
       }

       .photo3
    {
        display:none;
    }



    .recommendations
    {
        margin-top: 1%;
        margin-bottom: 1%;
        position:relative;
        display:flex;
        left:0;
        top:0;
        align-items: center;
        background-color: #E6E6E6;
        width: 100%;
       

    }

  
    .recommendcontainer .recommend
    {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .description
    {
        font-size: 27px;
    }
    
    .recommend
    {
        font-size: 32px;
        display: block;
        width: fit-content;        
    }
    


    footer .footerlogo
    {
        width: 45%;

    }

    .socialsites
    {
        padding: 16px 16px;
    }




    .socialsites1
    {
        display: flex;
    margin-left: auto;
    margin-right: auto;
    }

   footer .anthonyfooter
   {
    width: 100%;
    font-size: 22px;
    display: inline-block;
   }

    







    }


    @media screen and (max-width:644px)
    {
        .hireme2
    {
    width: 25%;
    }

    .seemyresume
    {
    width: 35%;
    }

   footer .anthonyfooter
    {
        font-size: 16.5px;
    }







    }